@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.intro {
    text-align: center;
    padding: 50px 20px;
    position: relative
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #FBFBFD;
}

body {
    font-family: 'Pretendard';
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #32386A;
}

h1 {
    margin-top: 100px;
    font-size: 48px;
}

h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 32px;
}

p {
    margin-top: 100px;
    margin-bottom: 120px;
    margin-left: 240px;
    margin-right: 240px;
    font-weight: 400;
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.6;
}

.scroll-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #32386A;
}

.arrow {
    font-size: 24px;
    margin-top: 14px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.chart-container {
    width: 80%;
    margin: 20px 0;
}

.chart2-container {
    width: 80%;
    margin: 20px 0;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.labels {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    height: 100%;
}

.labels2 {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    height: 100%;
}

.label {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 14px 0;
    border-radius: 50%;
    background-color: #D4E9FE; /* 원하는 배경색으로 변경 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.label img {
    max-width: 70%;
    max-height: 70%;
}

.label.snu {
    background-color: rgba(225, 187, 255, 0.3); /* 예: 서울대학교 */
    
}

.label.yu {
    background-color: rgba(178, 195, 255, 0.3); /* 예: 연세대학교 */
}

.label.ku {
    background-color: rgba(255, 157, 139, 0.3); /* 예: 고려대학교 */
}

.label.ewu {
    background-color: rgba(166, 255, 155, 0.3); /* 예: 이화여자대학교 */
}

.label.stech {
    background-color: rgba(255, 196, 128, 0.3); /* 예: 과학기술대학교 */
}

.scroll-x {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.chart-wrapper {
    width: 7400px; /* 스크롤을 위한 넓이 */
    height: 720px;
    position: relative;
    overflow: hidden;  /* 애니메이션 시 요소가 흐르지 않도록 설정 */
}

.triangle {
    stroke: none;
    opacity: 0;
}

.triangle.animate {
    animation: appear 0.05s forwards;
}

.svg-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

svg {
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

/* 애니메이션 정의 */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.description {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
    position: relative
}

.description .arrow-divider {
    width:36px;
}

.description h1 {
    margin-top: 35px;
    font-weight: 600;
    font-size: 32px;
}

.description h2 {
    margin-top: 20px;
    font-weight: 300;
    font-size: 24px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 45px;
    padding: 0 0 0 80px; /* left-box와 right-box 사이 여백을 80px로 설정 */
    gap: 80px; /* left-box와 right-box 사이 간격을 80px로 설정 */
    width: 100%;
    max-width: calc(100% - 80px); /* 양쪽 여백을 뺀 너비 */
    box-sizing: border-box;
    position: relative;
}

.line {
    position: absolute;
    top: 200px;
    left: 600px; /* 왼쪽 여백 고정 */
}

.left-box, .right-box {
    margin: 0 auto;
}

.left-box {
    display: flex;
    flex-direction: column;
    align-items: center; /* left-box 안의 내용물 중앙 정렬 */
    background-color: white;
    padding: 50px;
    border-radius: 50px;
}

.left-box .image-box {
    width: 446px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; /* 이미지 중앙 정렬 */
}

/* 이미지 박스의 상하좌우 여백을 50px로 설정 */
.left-box .image-box img {
    margin: 50px;
}

.left-box .image-box:last-child {
    margin-bottom: 0px; /* left-box의 마지막 이미지 박스 아래의 여백을 50px로 설정합니다 */
}

.right-box {
    display: flex;
    flex-direction: column;
    flex: 1; /* 가용 가능한 공간을 차지하도록 설정 */
    width: 700px; /* 최소 너비 설정 */
}

.text-box-primary {
    background-color: white;
    border: 1px solid #A0B1FF;
    border-radius: 50px;
    box-shadow: 0 0 7px rgba(160, 177, 255, 0.5); /* 투명도 30%인 그림자 추가 */
    /*display: flex; */
    align-items: center;
    justify-content: center;
    /*flex-direction: row;*/
    padding: 40px 30px; /* 위아래 여백을 50px로 설정 */
    font-size: 18px;
    line-height: 1.6;
    flex: 1; /* 가용 가능한 공간을 차지하도록 설정 */
    min-width: 500px; /* 최소 너비 설정 */
}

.text-box-primary .highlight-text {
    font-weight: 500;
    color: #5874C7;
}

.right-box .text-box-primary {
    margin-bottom: 50px;
}

.pie-charts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.pie-chart {
    margin: 20px;
    position: relative;
}